<div class="wide content">
  <section class=" privacy">
          <h2>Meta</h2>
      {{footer.privacy | markdownify | safe}}
  </section>
    <section>
        <h2>Contact</h2>
        <p>
            {{footer.contact}}
        </p>
    </section>
    <section>
        <h2>Social media</h2>

        <ul class="social-media-links">
            {% for link in footer.social %}
                <li><a href="{{link.href}}">{{link.linkName}}</a></li>
            {% endfor %}
        </ul>
    </section>
</div>



{% set css %}
    {% include "components/footer.css" %}
{% endset %}
<style>
    {{ css | cssmin | safe }}
</style>
