<header class="mainHeader">
    <div class="wide">
        <div class="logo" itemscope itemtype="http://schema.org/Organization"><a itemprop="url" href="/">Neues Script</a></div>
        <nav>
            <ul>
                <li><a {% if '/' == page.url %}aria-current="page"{% endif %} href="/">Home</a></li>
                <li><a {% if '/projects/' == page.url %}aria-current="page"{% endif %} href="/projects">Projects</a></li>
                <li><a {% if '/services/' == page.url %}aria-current="page"{% endif %}href="/services">Services</a></li>
                <li><a {% if '/about/' == page.url %}aria-current="page"{% endif %}href="/about">About</a></li>
                <li><a {% if '/journal/' == page.url %}aria-current="page"{% endif %} href="/journal">Journal</a></li>
            </ul>
        </nav>
    </div>
</header>

{% set css %}
    {% include "components/header.css" %}
{% endset %}
<style>
    {{ css | cssmin | safe }}
</style>
