<div class="animation-wrapper" aria-label="6 nested circles on top of a multi-color background moving slowly around">
    <div class="animation" aria-hidden="true">
        <div class="background"></div>
        <div class="pattern"></div>
        <div class="circle-container">
        <div class="circle circle-outer circle-1">
            <div class="circle inner">
                <div class="circle inner">
                    <div class="circle inner">
                    <div class="circle inner">
                        <div class="circle inner">
                        <div class="circle inner">
                            <div class="circle inner">
                            <div class="circle inner">
                                <div class="circle inner">
                                <div class="circle inner">
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle circle-outer circle-2">
            <div class="circle inner">
            <div class="circle inner">
                <div class="circle inner">
                <div class="circle inner">
                    <div class="circle inner">
                    <div class="circle inner">
                        <div class="circle inner">
                        <div class="circle inner">
                            <div class="circle inner">
                            <div class="circle inner">
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="circle circle-outer circle-3">
            <div class="circle inner">
            <div class="circle inner">
                <div class="circle inner">
                <div class="circle inner">
                    <div class="circle inner">
                    <div class="circle inner">
                        <div class="circle inner">
                        <div class="circle inner">
                            <div class="circle inner">
                            <div class="circle inner"></div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="circle circle-outer circle-4">
            <div class="circle inner">
            <div class="circle inner">
                <div class="circle inner">
                <div class="circle inner">
                    <div class="circle inner">
                    <div class="circle inner">
                        <div class="circle inner">
                        <div class="circle inner">
                            <div class="circle inner">
                            <div class="circle inner"></div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="circle circle-outer circle-5">
            <div class="circle inner">
            <div class="circle inner">
                <div class="circle inner">
                <div class="circle inner">
                    <div class="circle inner">
                    <div class="circle inner">
                        <div class="circle inner">
                        <div class="circle inner">
                            <div class="circle inner">
                            <div class="circle inner">
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="circle circle-outer circle-6">
            <div class="circle inner">
            <div class="circle inner">
                <div class="circle inner">
                <div class="circle inner">
                    <div class="circle inner">
                    <div class="circle inner">
                        <div class="circle inner">
                        <div class="circle inner">
                            <div class="circle inner">
                            <div class="circle inner">
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>

        <div class="shadows circle-1"></div>
        <div class="shadows circle-2"></div>
        <div class="shadows circle-3"></div>
        <div class="shadows circle-4"></div>
        <div class="shadows circle-5"></div>
        <div class="shadows circle-6"></div>
        </div>
    </div>
</div>
<button type="button" id="pause-animation">
  <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 0C114.617 0 0 114.615 0 256s114.617 256 256 256 256-114.615 256-256S397.383 0 256 0zm-32 320c0 8.836-7.164 16-16 16h-32c-8.836 0-16-7.164-16-16V192c0-8.836 7.164-16 16-16h32c8.836 0 16 7.164 16 16v128zm128 0c0 8.836-7.164 16-16 16h-32c-8.836 0-16-7.164-16-16V192c0-8.836 7.164-16 16-16h32c8.836 0 16 7.164 16 16v128z"/></svg>
  Reduce Animation
</button>



{% set css %}
    {% include "components/homeAnimation.css" %}
{% endset %}
<style>
    {{ css | cssmin | safe }}
</style>

<script type="application/javascript">
  document.querySelector('#pause-animation').addEventListener('click', () => { document.body.classList.toggle('animations-off'); });
</script>
