<div class="animation" aria-hidden="true">
    <div class="background"></div>
    <div class="pattern"></div>
    <div class="circle-container">
    <div class="circle circle-outer circle-1">
        <div class="circle inner">
            <div class="circle inner">
                <div class="circle inner">
                <div class="circle inner">
                    <div class="circle inner">
                    <div class="circle inner">
                        <div class="circle inner">
                        <div class="circle inner">
                            <div class="circle inner">
                            <div class="circle inner">
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="circle circle-outer circle-2">
        <div class="circle inner">
        <div class="circle inner">
            <div class="circle inner">
            <div class="circle inner">
                <div class="circle inner">
                <div class="circle inner">
                    <div class="circle inner">
                    <div class="circle inner">
                        <div class="circle inner">
                        <div class="circle inner">
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="circle circle-outer circle-3">
        <div class="circle inner">
        <div class="circle inner">
            <div class="circle inner">
            <div class="circle inner">
                <div class="circle inner">
                <div class="circle inner">
                    <div class="circle inner">
                    <div class="circle inner">
                        <div class="circle inner">
                        <div class="circle inner"></div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="circle circle-outer circle-4">
        <div class="circle inner">
        <div class="circle inner">
            <div class="circle inner">
            <div class="circle inner">
                <div class="circle inner">
                <div class="circle inner">
                    <div class="circle inner">
                    <div class="circle inner">
                        <div class="circle inner">
                        <div class="circle inner"></div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="circle circle-outer circle-5">
        <div class="circle inner">
        <div class="circle inner">
            <div class="circle inner">
            <div class="circle inner">
                <div class="circle inner">
                <div class="circle inner">
                    <div class="circle inner">
                    <div class="circle inner">
                        <div class="circle inner">
                        <div class="circle inner">
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="circle circle-outer circle-6">
        <div class="circle inner">
        <div class="circle inner">
            <div class="circle inner">
            <div class="circle inner">
                <div class="circle inner">
                <div class="circle inner">
                    <div class="circle inner">
                    <div class="circle inner">
                        <div class="circle inner">
                        <div class="circle inner">
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    
    <div class="shadows circle-1"></div>
    <div class="shadows circle-2"></div>
    <div class="shadows circle-3"></div>
    <div class="shadows circle-4"></div>
    <div class="shadows circle-5"></div>
    <div class="shadows circle-6"></div>
    </div>
</div>

{% set css %}
    {% include "components/homeAnimation.css" %}
{% endset %}
<style>
    {{ css | cssmin | safe }}
</style>