<div class="project-overview">
    {# {% set projectlist = collections.projects %} #}
    {% for project in projectlist %}
    {% set currentProject = project.data.project %}
        <div class="project" style="--category-color: {{currentProject.categories[0].color}}">
            <div class="project-wrapper">
                <p class="project-categories">
                    Posted in 
                    {% for category in currentProject.categories %}
                        <span>{{category.title}}</span>{% if loop.index < (currentProject.categories.length) %},{% endif %}
                        {% if loop.index === (currentProject.categories.length - 1) %}and{% endif %}
                    {% endfor %}
                </p>
                <h3>{{currentProject.title}}</h3>
                <p class="project-description">{{currentProject.excerpt}}</p>
                <ul class="project-tags">
                    {% for tag in currentProject.tags %}
                        <li>#{{tag}}</li>
                    {% endfor %}
                </ul>
                <p class="read-more"><a href="{{ project.url | url }}">Read more</a></p>
            </div>
        </div>
    {% endfor %}
</div>

{% set css %}
    {% include "components/projectList.css" %}
{% endset %}
<style>
    {{ css | cssmin | safe }}
</style>