.project-overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
}

.project-overview .project {
    padding: 3rem;
    border-radius: 0.75rem;
}

.project-overview .project h3 {
    font-size: var(--font-size-large);
    font-weight: 500;
    line-height: 120%;
    font-family: "Inter", "HelveticaNeue", Helvetica, sans-serif;
    margin-bottom: 1.5rem;
}

.project-overview .project p {
    line-height: 135%;
}

.project-overview .project .read-more {
    margin-top: 1rem;
}

.project-overview .project .read-more:before {
    content: "→";
    position: relative;
}

.project-overview .project .read-more a {
    color: var(--font-color);
    text-decoration: none;
    margin-left: 0.5rem;
}

.projects-page .project-overview  {
    margin-top: 6rem;
    margin-bottom: 5rem;
}

@media screen and (max-width: 900px) {
    .project-overview {
        grid-template-columns: 1fr;
    }
}