<div class="project-overview">
    {% set projectlist = collections.projects %}
    {% for project in projectlist %}
    {% set currentProject = project.data.project %}
        <div class="project">
            <h3>{{currentProject.title}}</h3>
            <p class="project-description">{{currentProject.excerpt}}</p>
            <p class="read-more"><a href="{{ project.url | url }}">Read more</a></p>
        </div>
    {% endfor %}
</div>

{% set css %}
    {% include "components/projectList.css" %}
{% endset %}
<style>
    {{ css | cssmin | safe }}
</style>