<section class="home-projects wide">
    <div class="home-projects-overview wide">
      {% set postslist = collections.posts %}
      {% for post in postslist | reverse %}
        {% set currentPost = post.data.post %}
        <div class="home-project">
          <h3>{{currentPost.title}}</h3>
          <p>{{currentPost.excerpt}}</p>
          <p><a href="{{ post.url | url }}" class="read-more">Read more</a></p>
        </div>
      {% endfor %}
    </div>
  </section>