:root {
    --background-color: #FFF;
    --font-color: #132B13;
    --accent-color-1: #FFA3CC; 
    --accent-color-2: #01BE7D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    background-color: var(--baackground-color);
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--font-color);
}

::selection {
    background-color: var(--accent-color-1);
    color: var(--font-color);
}

.xnarrow {
    width: 800px;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.narrow {
    width: 1000px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.wide {
    width: 1240px;
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin: 40px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header h1 {
    font-weight: 600;
    text-transform: lowercase;
    font-size: 2rem;
}

header nav ul {
    text-align: right;
    margin-top: 0.75rem;
}

header nav ul li {
    list-style-type: none;
    display: inline;
    margin-left: 2rem;
}

header nav ul li a {
    color: var(--font-color);
    text-decoration: none;
}
header ul li a:hover {
    border: 1px solid #132B13;
    border-radius: 50%;
    padding: 7px 15px;
    position: relative;
    left: 16px;
    margin-left: -32px;
}


main {
    width: 1240px;
    max-width: 95vw;
    margin: 5rem auto 0 auto;
}

.brand h2 {
    color: var(--baackground-color);
    position: fixed;
    text-transform: lowercase;
    font-weight: 800;
    font-size: 235px;
    background-image: radial-gradient(at top left, var(--accent-color-2) 20%, transparent 20%),
        radial-gradient(at top right, var(--accent-color-2) 20%, transparent 20%),
        radial-gradient(at bottom left, var(--accent-color-2) 20%, transparent 20%),
        radial-gradient(at bottom right, var(--accent-color-2) 20%, transparent 20%);
    background-size: 5px 5px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    z-index: -1;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.brand h2:first-child {
    top: 200px;
    left: -360px;
    transform: rotate(-90deg);
    /* animation: brand-left 10s none infinite; */
}

.brand h2:last-child {
    bottom: 170px;
    right: -300px;
    transform: rotate(-90deg);
    /* animation: brand-right 10s none infinite; */
}

.home-intro {
    margin: 10rem auto 5rem auto;
}

.home-intro, .home-media, .home-projects, .home-services, .home-about, .home-journal {
    margin-bottom: 5rem;
}

.home h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.home h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.home-intro p {
    font-size: 2.25rem;
}

.home-intro .arrow {
    text-align: center;
    margin: 3rem 0;
}

.home-cta {
    display: block;
    position: relative;
    min-height: 600px;
    margin-top: 3rem;
}

.home-cta div {
    position: absolute;
    left: 0;
    top: 1rem;
    z-index: 1;
    width: 40%;
}

.home-cta h2 {
    font-size: 2rem;
}

.home-cta ul {
    background-color: var(--accent-color-2);
    padding: 2rem 2rem;
    line-height: 2rem;
}

.home-cta ul li {
    list-style-type: none;
}

.home-cta ul li a {
    color: var(--font-color);
}

.home-cta ul li:before {
    content: "→";
    text-decoration: none;
    margin-right: 0.75rem;
}

.home-cta img {
    width: 75%;
    position: absolute;
    right: 1rem;
    top: 0;
    z-index: 0;
}

.home-projects {
    margin: 2rem auto 8rem auto;
}

.home-projects h2 {
    font-weight: 400;
    font-size: 2.25rem;
}

.home-projects .home-projects-overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.home-projects .home-projects-overview .home-project {
    padding: 2rem;
    transition: background-color 0.35s, border-radius 0.35s, border-color 0.35s;
    background-color: #BFFF6F;
    border: 3px solid #BFFF6F;
}

.home-projects .home-projects-overview .home-project:hover {
    background-color: var(--background-color);
    background-image: radial-gradient(#BFFF6F, #EBFF6F 50%, rgba(235, 255, 111, 0) 70%);
    background-size: 100% 100%;
    background-position: 0 500px;
    background-repeat: no-repeat;
    border-radius: 2px;
    border-color: #BFFF6F;
    animation: animate-body 20s ease-in-out infinite;
}

.home-projects .home-projects-overview .home-project:nth-child(2n) {
    background-color: #6FFFCD;
    border: 3px solid #6FFFCD;
}

.home-projects .home-projects-overview .home-project:nth-child(2n):hover {
    background-color: var(--background-color);
    background-image: radial-gradient(#6FFFCD, #6FFFCD 50%, rgba(235, 255, 111, 0) 70%);
    border-color: #6FFFCD;
}

.home-projects .home-projects-overview .home-project:nth-child(3n) {
    background-color: #FFD43D;
    border: 3px solid #FFD43D;
}

.home-projects .home-projects-overview .home-project:nth-child(3n):hover {
    background-color: var(--background-color);
    background-image: radial-gradient(#FFD43D, #FFD43D 50%, rgba(235, 255, 111, 0) 70%);
    border-color: #FFD43D;
}

.home-projects .home-projects-overview .home-project:nth-child(4n) {
    background-color: #EBFF6F;
    border: 3px solid #EBFF6F;
}

.home-projects .home-projects-overview .home-project:nth-child(4n):hover {
    background-color: var(--background-color);
    background-image: radial-gradient(#EBFF6F, #EBFF6F 50%, rgba(235, 255, 111, 0) 70%);
    border-color: #EBFF6F;
}

.home-projects .home-projects-overview .home-project h3 {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.home-projects .home-projects-overview .home-project p {
    line-height: 1.5rem;
}

.home-projects .home-projects-overview .home-project p:last-child {
    margin-top: 1rem;
}

.home-projects .home-projects-overview .home-project {
    position: relative;
}

.home-projects .home-projects-overview .home-project p a.read-more:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.home-about div {
    position: absolute;
    top: 3rem;
    left: 1rem;
}

.home-about div p {
    background-color: var(--accent-color-2);
    padding: 2rem;
    line-height: 1.5rem;
}

.home-services {
    margin-top: 10rem;
}

.home-services .services-general {
    font-size: 1.5rem;
    line-height: 2rem;
}

.home-services > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.journal, article {
    margin-top: 11rem;
}

article h1, article h2, article h3, article h4, article b, article strong {
    font-weight: 600;
    margin-bottom: 1rem;
}

article p, article ul, article ol {
    margin-bottom: 1rem;
}

article h1 {
    font-size: 2rem;
}

article a {
    color: #0D825A;
}

@keyframes brand-left {
    0% {
        top: 200px;
    }
    50% {
        top: 250px;
    }
    100% {
        top: 200px;
    }
}

@keyframes brand-right {
    0% {
        bottom: 170px;
    }
    50% {
        bottom: 220px;
    }
    100% {
        bottom: 170px;
    }
}

@keyframes animate-body {
    0% {
        background-position: -100px 300px;
    }
    20% {
        background-position: -300px 0px;
    }
    40% {
        background-position: 0px -200px;
    }
    60% {
        background-position: 250px -400px;
    }
    100% {
        background-position: -100px 300px;
    }
}

@media screen and (max-width: 1200px) {
    header {
        grid-template-columns: 0.5fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    header nav ul li {
        margin-left: 1rem;
    }

    .home-intro {
        margin-top: 3rem;
    }

    .home-intro p {
        font-size: 1.4rem;
        line-height: 1.75rem;
    }
}

@media screen and (max-width: 760px) {
    header {
        grid-template-columns: 1fr 0.5fr;
    }

    header nav ul li {
       display: block;
       margin-bottom: 0.5rem;
    }

    .brand h2 {
        font-size: 210px;
    }
    .brand h2:first-child {
        top: -130px;
        left: -30px;
        transform: rotate(0);
        animation: none;
    }

    .brand h2:last-child {
        bottom: -100px;
        right: -10px;
        transform: rotate(0);
        animation: none;
    }

    .home-cta div {
        position: static;
        width: 100%;
    }

    .home-cta img {
        position: static;
        width: 100%
    }

    .home-projects .home-projects-overview {
        grid-template-columns: 1fr;
    }

    .home-services > div {
        grid-template-columns: 1fr;
        text-align: left;
    }

    .home-services {
        margin-bottom: 0;
        margin-top: 0;
    }

    .home-projects {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .home-cta {
        min-height: 100px;
    }
}