:root {
    --background-color: #FFF;
    --font-color: #132B13;
    --accent-color-1: #FFA3CC; 
    --accent-color-2: #01BE7D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    background-color: var(--baackground-color);
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--font-color);
    min-height: 100vh;
    position: relative;
    padding-bottom: 12rem;
}

::selection {
    background-color: var(--accent-color-1);
    color: var(--font-color);
}

.xnarrow {
    width: 800px;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.narrow {
    width: 1000px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.wide {
    width: 1240px;
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin: 40px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header h1 {
    font-weight: 600;
    text-transform: lowercase;
    font-size: 2rem;
}

header h1 a {
    color: var(--font-color);
    text-decoration: none;
}

header nav ul {
    text-align: right;
    margin-top: 0.75rem;
}

header nav ul li {
    list-style-type: none;
    display: inline;
    margin-left: 2rem;
}

header nav ul li a {
    color: var(--font-color);
    text-decoration: none;
}
header ul li a:hover {
    border: 1px solid #132B13;
    border-radius: 50%;
    padding: 7px 15px;
    position: relative;
    left: 16px;
    margin-left: -32px;
}


main {
    width: 1240px;
    max-width: 95vw;
    margin: 5rem auto 0 auto;
}

.brand h2 {
    color: var(--baackground-color);
    position: fixed;
    text-transform: lowercase;
    font-weight: 800;
    font-size: 235px;
    background-image: radial-gradient(at top left, var(--accent-color-2) 20%, transparent 20%),
        radial-gradient(at top right, var(--accent-color-2) 20%, transparent 20%),
        radial-gradient(at bottom left, var(--accent-color-2) 20%, transparent 20%),
        radial-gradient(at bottom right, var(--accent-color-2) 20%, transparent 20%);
    background-size: 5px 5px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    z-index: -1;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    z-index: 1;
}

.brand h2:first-child {
    top: 200px;
    left: -360px;
    transform: rotate(-90deg);
    /* animation: brand-left 10s none infinite; */
}

.brand h2:last-child {
    bottom: 170px;
    right: -300px;
    transform: rotate(-90deg);
    /* animation: brand-right 10s none infinite; */
}

main, header {
    z-index: 3;
    position: relative;
}

.home-intro {
    margin: 8rem auto 5rem auto;
}

.home-intro, .home-media, .home-projects, .home-services, .home-about, .home-journal {
    margin-bottom: 5rem;
}

.home h2 {
    font-family: "Faune", "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.home h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.home-intro p {
    font-size: 2rem;
    line-height: 2.5rem;
}

.arrow {
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-size: 1.5rem;
}

.home-cta {
    display: block;
    position: relative;
    min-height: 500px;
}

.home-cta .left {
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 1;
    width: 40%;
}

.home-cta h2 {
    font-size: 2rem;
    line-height: 2rem;
    font-family: "Faune", "Inter", sans-serif;
    font-weight: normal;
    width: 80%;
}

.home-cta ul {
    background-color: var(--accent-color-2);
    padding: 2rem 2rem;
    line-height: 2rem;
}

.home-cta ul li {
    list-style-type: none;
}

.home-cta ul li a {
    color: var(--font-color);
}

.home-cta ul li:before {
    content: "→";
    text-decoration: none;
    margin-right: 0.75rem;
    transition: margin 0.3s;
}

.home-cta ul li:hover:before {
    margin-right: 1rem;
}

.home-cta .right {
    width: 75%;
    position: absolute;
    right: 1rem;
    top: 0;
    z-index: 0;
}

.home-cta .right:before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0.2rem;
    left: 0.4rem;
    background: repeating-linear-gradient(
        45deg,
        var(--background-color),
        var(--background-color) 5px,
        var(--accent-color-2) 5px,
        var(--accent-color-2) 6px
    );
}

.home-cta img {
    width: 100%;
    /* position: absolute; */
    position: relative;
    right: 0;
}

.home-projects {
    margin: 2rem auto 8rem auto;
}

.home-projects h2, .home-services h2, .home-journal h2  {
    font-weight: 400;
    font-size: 2rem;
    font-family: "Faune", "Inter", sans-serif;
}

.home-projects .home-projects-overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.home-projects .home-projects-overview .home-project {
    position: relative;
    padding: 2rem; 
    transition: top 0.5s, left 0.5s;
    background-color: #BFFF6F;
    border: 3px solid #BFFF6F; 
    top: 0;
    left: 0;
}

.home-projects .home-projects-overview .home-project-wrapper:hover {
    background-image: repeating-linear-gradient(
        45deg,
        var(--background-color),
        var(--background-color) 5px,
        #95DB3D 5px,
        #95DB3D 6px
    );
}

.home-projects .home-projects-overview .home-project-wrapper:hover .home-project {
    top: -0.5rem;
    left: -0.5rem;
}

.home-projects .home-projects-overview .home-project:hover {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
}

/* .home-projects .home-projects-overview .home-project:hover .read-more {
    padding-left: 2.25rem;
} */

.home-projects .home-projects-overview .home-project-wrapper:nth-child(2n) .home-project {
    background-color: #6FFFCD;
    border: 3px solid #6FFFCD;
}

.home-projects .home-projects-overview .home-project-wrapper:nth-child(2n):hover {
    background-image: repeating-linear-gradient(
        45deg,
        var(--background-color),
        var(--background-color) 5px,
        #4ADAA8 5px,
        #4ADAA8 6px
    );
}

.home-projects .home-projects-overview .home-project-wrapper:nth-child(3n) .home-project {
    background-color: #FFD43D;
    border: 3px solid #FFD43D;
}

.home-projects .home-projects-overview .home-project-wrapper:nth-child(3n):hover{
    background-image: repeating-linear-gradient(
        45deg,
        var(--background-color),
        var(--background-color) 5px,
        #E9C030 5px,
        #E9C030 6px
    );
}

.home-projects .home-projects-overview .home-project-wrapper:nth-child(4n) .home-project {
    background-color: #EBFF6F;
    border: 3px solid #EBFF6F;
}

.home-projects .home-projects-overview .home-project-wrapper:nth-child(4n):hover {
    background-image: repeating-linear-gradient(
        45deg,
        var(--background-color),
        var(--background-color) 5px,
        #CFE740 5px,
        #CFE740 6px
    );
}

.home-projects .home-projects-overview .home-project h3 {
    font-weight: normal;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.home-projects .home-projects-overview .home-project p {
    line-height: 1.5rem;
}

.home-projects .home-projects-overview .home-project p:last-child {
    margin-top: 1rem;
}

.home-projects .home-projects-overview .home-project {
    position: relative;
}

.home-projects .home-projects-overview .home-project p a.read-more {
    padding-left: 1.75rem;
    color: var(--font-color);
    transition: padding 0.35s;
}

.home-projects .home-projects-overview .home-project p a.read-more:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.home-projects .home-projects-overview .home-project a.read-more:after {
    content: "→";
    text-decoration: none;
    margin-right: 0.75rem;
    transition: margin 0.3s;
    position: absolute;
    left: 2rem;
}

.home-about .left {
    position: absolute;
    top: 3rem;
    left: 1rem;
}

.home-about div p {
    background-color: var(--accent-color-2);
    padding: 2rem;
    line-height: 1.5rem;
}

.home-services {
    margin-top: 10rem;
    background-image: radial-gradient(#BFFF6F 25%, #EBFF6F 50%, rgba(235, 255, 111, 0) 70%);
    background-size: 20vw 20vw;
    background-position: 0 20%;
    background-repeat: no-repeat;
    animation: animate-body 30s ease-in-out infinite;
}

.home-services .services-general{
    font-size: 1.5rem;
    line-height: 2rem;
}

.home-services .services-cta {
    text-align: center;
    font-size: 1.25rem;
}

.home-services .services-cta a {
    color: #0D825A; 
}

.home-services > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

article {
    margin-top: 11rem;
}

article h1, article h2, article h3, article h4, article b, article strong {
    font-weight: 600;
    margin-bottom: 1rem;
}

article h1, article h2, article h2 strong {
    font-family: "Faune", "Inter", sans-serif;
    font-weight: Normal !important;
}

article p, article ul, article ol {
    margin-bottom: 1rem;
}

article h1 {
    font-size: 3rem;
    margin-bottom: 8rem;
}

article h1:after {
    content: " ";
    display: block;
    width: 100%;
    max-width: 333px;
    height: 0.75rem;
    background-image: radial-gradient(at top left, var(--accent-color-2) 20%, transparent 20%),
    radial-gradient(at top right, var(--accent-color-2) 20%, transparent 20%),
    radial-gradient(at bottom left, var(--accent-color-2) 20%, transparent 20%),
    radial-gradient(at bottom right, var(--accent-color-2) 20%, transparent 20%);
    background-size: 2px 2px;
    position: absolute;
    margin: 2rem 0;
}

article h2 {
    margin-top: 3rem;

    background-image: linear-gradient(var(--background-color), var(--background-color)), 
        radial-gradient(at top left, var(--accent-color-2) 20%, transparent 20%),
        radial-gradient(at top right, var(--accent-color-2) 20%, transparent 20%),
        radial-gradient(at bottom left, var(--accent-color-2) 20%, transparent 20%),
        radial-gradient(at bottom right, var(--accent-color-2) 20%, transparent 20%);
    background-size: 100% 100%, 2px 2px, 2px 2px, 2px 2px, 2px 2px;
    background-repeat: no-repeat, repeat, repeat, repeat, repeat;
    background-position: 1rem 0, 0 0, 0 0, 0 0, 0 0;
    padding-left: 1.5rem;
}


article a {
    color: #0D825A;
}

article li, article li {
    list-style-position: inside;
}

article blockquote {
    font-size: 2rem;
}

.filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filters .categories {
    position: relative;
    top: 0.75rem;
}

.filters .categories li:nth-child(1n) {
    background-color: #FFE86E;
}

.filters .categories li:nth-child(2n) {
    background-color: #BFFF6F;
}

.filters .categories li:nth-child(3n) {
    background-color: #FF9A6F;
}

.filters .categories li:nth-child(4n) {
    background-color: #6FFFCD;
}


.journal h2 {
   margin-bottom: 1rem;
   font-weight: 400;
   font-family: "Faune", "Inter", sans-serif;
}

.journal-overview .journal-entry {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.5fr;
    column-gap: 2.5rem;
    border-bottom: 1px solid var(--font-color);
    padding: 1rem 0.5rem;
}

.journal-overview .journal-entry:last-child {
    border: none;
}

.journal-overview .journal-entry span:first-child {
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.journal-overview .journal-entry .tags {
    text-align: right;
}

.journal-overview .journal-entry .tag {
    font-size: 0.75rem;
    background-color: var(--accent-color-2);
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
}

.journal-overview .journal-entry .read-more {
    text-align: right;
}

.journal-overview .journal-entry .read-more a {
    color: #0D825A;
}

.home-journal .home-journal-entry h3 {
    font-size: 2rem;
    font-weight: 400;
}

.home-journal .home-journal-overview {
    margin-top: 2rem;
}

.home-journal .home-journal-entry {
    padding: 2rem 0 3rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--font-color);
}

.categories li {
    list-style-type: none;
    display: inline;
    padding: 0.25rem 0.5rem;
    background-color: lemonchiffon;
    border-radius: 2rem;
    margin-right: 1rem;
    font-size: 0.75rem;
}

.home-journal .home-journal-entry .categories {
    margin-bottom: 1.5rem;
}

.home-journal .home-journal-entry p {
    line-height: 1.5rem;
}

.home-journal .home-journal-entry p.posts-cta {
    margin-top: 1rem;
    display: block;
    padding-left: 1.5rem;
    transition: padding 0.35s;
    position: relative;
}

.home-journal .home-journal-entry p.posts-cta:hover {
    padding-left: 2rem;
}

.home-journal .home-journal-entry p.posts-cta a {
    color: var(--font-color);
}

.home-journal .home-journal-entry p.posts-cta:before {
    content: "→";
    position: absolute;
    left: 0rem;
}

footer {
    background-color: #FFFEEC;
    padding: 3rem;
    font-size: 0.75rem;
    margin-top: 5rem;
    position: absolute;
    bottom: -1rem;
    display: block;
    width: 100%;
}

footer div {
    display: grid;
    grid-template-columns: 1fr 1fr 0.75fr;
    column-gap: 4rem;
}

footer h2 {
    font-weight: 600;
    font-size: 0.75rem;
}

footer section:last-child {
    text-align: right;
}

footer ul li {
    list-style-type: none;
}

@keyframes brand-left {
    0% {
        top: 200px;
    }
    50% {
        top: 250px;
    }
    100% {
        top: 200px;
    }
}

@keyframes brand-right {
    0% {
        bottom: 170px;
    }
    50% {
        bottom: 220px;
    }
    100% {
        bottom: 170px;
    }
}

/* @keyframes animate-body {
    0% {
        background-position: -100px 300px;
    }
    20% {
        background-position: -300px 0px;
    }
    40% {
        background-position: 0px -200px;
    }
    60% {
        background-position: 250px -400px;
    }
    100% {
        background-position: -100px 300px;
    }
} */

@keyframes animate-body {
    0% {
        background-position: 10% 30%;
    }
    20% {
        background-position: 40% 80%;
    }
    40% {
        background-position: 90% 10%;
    }
    60% {
        background-position: 30% 70%;
    }
    100% {
        background-position: 10% 30%; 
    }
}

@media screen and (max-width: 1200px) {
    header {
        grid-template-columns: 0.5fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    header nav ul li {
        margin-left: 1rem;
    }

    .home-intro {
        margin-top: 3rem;
    }

    .home-intro p {
        font-size: 1.4rem;
        line-height: 1.75rem;
    }

    .home-cta .left {
        position: static;
        width: 100%;
    }

    .home-cta .right {
        position: static;
        width: 100%
    }

    .home-cta .right:before {
        display: none;
    }

    .home-cta {
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 760px) {
    header {
        grid-template-columns: 1fr 0.5fr;
    }

    header nav ul li {
       display: block;
       margin-bottom: 0.5rem;
    }

    .brand h2 {
        font-size: 210px;
    }
    .brand h2:first-child {
        top: -130px;
        left: -30px;
        transform: rotate(0);
        animation: none;
    }

    .brand h2:last-child {
        bottom: -100px;
        right: -10px;
        transform: rotate(0);
        animation: none;
    }

    .home-projects .home-projects-overview {
        grid-template-columns: 1fr;
    }

    .home-services > div {
        grid-template-columns: 1fr;
        text-align: left;
    }

    .home-services {
        margin-bottom: 0;
        margin-top: 0;
    }

    .home-projects {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .home-cta {
        min-height: 100px;
    }

    .journal-overview .journal-entry {
        grid-template-columns: 1fr;
    }

    .journal-overview .journal-entry > * {
        text-align: left;
    }
}