* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "Inter", "HelveticaNeue", Helvetica, sans-serif;
}

.wide {
    width: 1240px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.narrow {
    width: 950px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.xnarrow {
    width: 700px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

::selection {
    background-color: var(--brand-color-4);
}

main {
    margin-top: 8rem;
}

h1, h2, h3, h4, h5 {
    font-family: "Faune", "Inter", "HelveticaNeue", Helvetica, sans-serif;
    font-weight: 400;
}

.brand h2 {
    color: var(--brand-color-1);
    position: fixed;
    text-transform: lowercase;
    font-family: "Inter", "HelveticaNeue", Helvetica, sans-serif;
    font-weight: 800;
    font-size: 11.75rem;
    background-image: radial-gradient(at top left, var(--brand-color-1) 10%, transparent 10%),
        radial-gradient(at top right, var(--brand-color-1) 10%, transparent 10%),
        radial-gradient(at bottom left, var(--brand-color-1) 10%, transparent 10%),
        radial-gradient(at bottom right, var(--brand-color-1) 10%, transparent 10%),
        radial-gradient(var(--brand-color-1) 20%, transparent 20%);
    background-size: 6px 6px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    z-index: -1;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.brand h2:first-child {
    top: 200px;
    left: -360px;
    transform: rotate(-90deg);
    /* animation: brand-left 10s none infinite; */
}

.brand h2:last-child {
    bottom: 170px;
    right: -300px;
    transform: rotate(-90deg);
    /* animation: brand-right 10s none infinite; */
}

.large-text {
    font-size: var(--font-size-xlarge);
    line-height: 135%;
}

.medium-text {
    font-size: var(--font-size-large);
    line-height: 135%;
}

figcaption {
    font-size: 0.7rem;
}

@keyframes brand-left {
    0% {
        top: 200px;
    }
    50% {
        top: 250px;
    }
    100% {
        top: 200px;
    }
}

@keyframes brand-right {
    0% {
        bottom: 170px;
    }
    50% {
        bottom: 220px;
    }
    100% {
        bottom: 170px;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 16px;
    }
}