<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
      {# <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}"> #}
    
    <!-- TODO: Load fonts locally -->
    {# <link rel='stylesheet' href='https://www.cnap.graphismeenfrance.fr/faune/styles/faune-fontes.css'> #}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap" rel="stylesheet">

    {% set css %}
      {% include "fonts.css" %}
      {% include "variables.css" %}
      {% include "style.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    {% include "components/header.njk" %}

    <div class="brand" aria-hidden="true">
      <h2>Neues</h2>
      <h2>Script</h2>
    </div>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <div id="revue-embed" class="narrow">
        <form action="https://www.getrevue.co/profile/neuescript/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
        <div class="revue-form-group">
          <label for="member_email">Email address</label>
          <input class="revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
        </div>
        <div class="revue-form-group">
          <label for="member_first_name">First name <span class="optional">(Optional)</span></label>
          <input class="revue-form-field" placeholder="First name... (Optional)" type="text" name="member[first_name]" id="member_first_name">
        </div>
        <div class="revue-form-group">
          <label for="member_last_name">Last name <span class="optional">(Optional)</span></label>
          <input class="revue-form-field" placeholder="Last name... (Optional)" type="text" name="member[last_name]" id="member_last_name">
        </div>
        <div class="revue-form-actions">
          <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
        </div>
        </form>
      </div>
  
        {% include "components/footer.njk" %}
    </footer>
  </body>
</html>
