<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
      {# <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}"> #}
    
    <!-- TODO: Load fonts locally -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">

    {% set css %}
      {% include "style.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <header class="wide">
      <h1>Neues Script</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/journal">Journal</a></li>
        </ul>
      </nav>
    </header>

    <div class="brand" aria-hidden="true">
      <h2>Neues</h2>
      <h2>Script</h2>
    </div>

    <main class="wide">
      {{ content | safe }}
    </main>

    <footer>
        {# <p>Footer</p> #}
    </footer>
  </body>
</html>
