---
layout: layouts/home.njk
templateClass: tmpl-page
---


<article class="narrow page services-page">
    <h1>{{infoPage.title}}</h1>
    {{ infoPage.body | markdownify | safe }}
</article>


{% set css %}
  {% include "layouts/post.css" %}
{% endset %}

<style>
  {{ css | cssmin | safe }}
</style>
