---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="wide">
  
  <h1 class="narrow">{{ post.title }}</h1>
  
  <div class="xnarrow">
    {{ post.body | markdownify | safe }}
  </div>
  
  <p class="narrow"><a href="{{ '/' | url }}">← Home</a></p>
</article>


{% set css %}
  {% include "layouts/post.css" %}
{% endset %}

<style>
  {{ css | cssmin | safe }}
</style>