
article {
    /* margin-top: 11rem; */
    margin-bottom: 6rem;
}

article h1, article h2, article h3, article h4, article b, article strong {
    font-weight: 600;
    margin-bottom: 1rem;
}

article h1, article h2, article h2 strong {
    font-family: "Faune", "Inter", sans-serif;
    font-weight: Normal !important;
}

article p, article ul, article ol {
    margin-bottom: 1rem;
    line-height: 150%;
}

article h1 {
    font-size: 3rem;
    margin-bottom: 8rem;
}

article h1:after {
    content: " ";
    display: block;
    width: 100%;
    max-width: 333px;
    height: 0.75rem;
    background-image: radial-gradient(at top left, var(--brand-color-1) 10%, transparent 10%),
        radial-gradient(at top right, var(--brand-color-1) 10%, transparent 10%),
        radial-gradient(at bottom left, var(--brand-color-1) 10%, transparent 10%),
        radial-gradient(at bottom right, var(--brand-color-1) 10%, transparent 10%),
        radial-gradient(var(--brand-color-1) 20%, transparent 20%);
    background-size: 3px 3px;
    position: absolute;
    margin: 2rem 0;
}

article h2 {
    margin-top: 3rem;

    background-image: linear-gradient(var(--background-color), var(--background-color)),
        radial-gradient(at top left, var(--brand-color-1) 10%, transparent 10%),
        radial-gradient(at top right, var(--brand-color-1) 10%, transparent 10%),
        radial-gradient(at bottom left, var(--brand-color-1) 10%, transparent 10%),
        radial-gradient(at bottom right, var(--brand-color-1) 10%, transparent 10%),
        radial-gradient(var(--brand-color-1) 20%, transparent 20%);
    background-size: 100% 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px;
    background-repeat: no-repeat, repeat, repeat, repeat, repeat, repeat;
    background-position: 1rem 0, 0 0, 0 0, 0 0, 0 0, 0 0;
    padding-left: 1.5rem;
}


article p a {
    color: var(--font-color);
    background-color: var(--brand-color-3);
}

article li, article li {
    list-style-position: inside;
}

article blockquote {
    font-size: 2rem;
}

article img {
    max-width: 100%;
}

article h1.small-title {
    font-size: var(--font-size-large);
    margin-bottom: 0;
}

article h1.small-title:after {
    display: none;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.image-gallery > * > img {
    width: 100%;
}

.image-gallery *:nth-child(3n) {
    grid-column-start: 1;
    grid-column-end: 3;
}

article hr {
    border: none;
    border-bottom: 1px solid var(--font-color);
    height: 1px;
    opacity: 0.5;
}

.resources {
    margin-bottom: 3rem;
    list-style-position: inside;
    padding-left: 1.5rem;
}

.resources a {
    color: var(--font-color);
}

.more-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.more-posts-wrapper {
    margin-top: 6rem;
    background-color: var(--brand-color-3);
    padding: 4rem 0;
    position: relative;
}

.more-posts-wrapper:before {
    content: "";
    position: absolute;
    left: 0;
    top: -1rem;
    display: block;
    width: 100%;
    height: 1rem;
    background-color: var(--background-color);
    background-image: radial-gradient(at top left, var(--brand-color-1) 10%, transparent 10%),
        radial-gradient(at top right, var(--brand-color-1) 10%, transparent 10%),
        radial-gradient(at bottom left, var(--brand-color-1) 10%, transparent 10%),
        radial-gradient(at bottom right, var(--brand-color-1) 10%, transparent 10%),
        radial-gradient(var(--brand-color-1) 20%, transparent 20%);
    background-size: 6px 6px;
}

.more-posts p:nth-child(2) {
    text-align: center;
}

.more-posts p:last-child {
    text-align: right;
}

.more-posts-wrapper .journal {
    margin-top: 6rem;
}

.more-posts-wrapper  .more-posts p a {
    color: var(--font-color);
    text-decoration: none;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid var(--font-color);
    transition: padding 0.25s, top 0.25s;
    position: relative;
    top: 0;
}

.more-posts-wrapper  .more-posts p a:hover {
    padding-bottom: 0.4rem;
    top: -0.2rem;
}

.more-posts-wrapper .project-overview  {
    margin-top: 4rem;
}

@media screen and (max-width: 900px) {
    .image-gallery {
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    .image-gallery *:nth-child(3n) {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}