---
layout: layouts/home.njk
navtitle: About
permalink: /about/
---

<article class="narrow page">
    <h1>{{about.title}}</h1>

    {{ about.body | markdownify | safe }}
</article>


{% set css %}
  {% include "layouts/post.css" %}
{% endset %}

<style>
  {{ css | cssmin | safe }}
</style>