---
layout: layouts/home.njk
navtitle: Journal
permalink: /journal/
---

<div class="wide archive">
  <div class="narrow">
    <h2>{{journalSettings.title}}</h2>
    <p class="large-text">
      {{journalSettings.description}}
    </p>
  </div>
  {% set postslist = collections.myPosts %}
  {% include "components/postArray.njk" %}
</div>