---
layout: layouts/home.njk
navtitle: Journal
permalink: /journal/
---

<section class="journal wide">
    <h2 class="narrow">{{home.journalTitle}}</h2>
    <ul class="journal-overview wide">
        {% set postslist = collections.myPosts %}
        {% for post in postslist | reverse %}
        {% set currentPost = post.data.post %}
        <li class="journal-entry">
            <span>{{currentPost.title}}</span>
            <span class="tags">
                {% for cat in currentPost.categories %}
                    <span class="tag">{{cat}}</span>
                {% endfor %}
            </span>
            <span class="read-more"><a href="{{ post.url | url }}" class="read-more">Read more</a></span>
        </li>
        {% endfor %}
    </ul>
</section>