---
layout: layouts/home.njk
navtitle: Journal
permalink: /journal/
---

{# <section class="journal wide">
    <h2 class="narrow">{{home.journalTitle}}</h2>
    <ul class="journal-overview wide">
        {% set postslist = collections.myPosts %}
        {% for post in postslist | reverse %}
        {% set currentPost = post.data.post %}
        <li class="journal-entry">
            <span>{{currentPost.title}}</span>
            <span class="tags">
                {% for cat in currentPost.categories %}
                    <span class="tag">{{cat}}</span>
                {% endfor %}
            </span>
            <span class="read-more"><a href="{{ post.url | url }}" class="read-more">Read more</a></span>
        </li>
        {% endfor %}
    </ul>
</section> #}

<section class="home-journal narrow wide">
    <div class="filters narrow">
        <h2>All posts</h2>
        <ul class="categories">
            <li>Category 1</li>
            <li>Category 2</li>
            <li>Category 3</li>
            <li>Category 4</li>
        </li>
    </div>
    <div class="home-journal-overview narrow">
        {% set postslist = collections.myPosts %}
        {% for post in postslist | reverse %}
        {% set currentPost = post.data.post %}
          <div class="home-journal-entry">
            <ul class="categories">
              {% for cat in currentPost.categories | reverse %}
                <li>{{cat}}</li>
              {% endfor %}
            </ul>
            <h3>{{currentPost.title}}</h3>
            <p>{{currentPost.excerpt}}</p>
            <p><a href="posts-cta">Read more</a></p>
            {# <p>{{currentPost.publishedAt}}</p> #}
          </div>
        {% endfor %}
    </div>
  </section>