---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<div class="home">

  <section class="home-intro narrow">
    <h2>{{home.headerTitle}}</h2>
    <p>
      {{home.headerDescription}}
    </p>
  </section>

  <section class="home-cta xnarrow">
    <div class="left">
      <h2>Learn more about us</h2>
      <ul>
        <li><a href="/services">Our services</a></li>
        <li><a href="/projects">Past projects</a></li>
        <li><a href="/about">What we do</a></li>
      </ul>
    </div>
    <div class="right">
      <img src={{home.headerImage.url}} alt={{home.headerImage.alt}} />
    </div>
  </section>

  <p class="arrow">↓</p>

  <section class="home-projects wide">
    <h2 class="narrow">{{home.projectsTitle}}</h2>
    <div class="home-projects-overview wide">
      {% set projectlist = collections.projects %}
      {% for project in projectlist | reverse %}
        {% set currentProject = project.data.project %}
        <div class="home-project-wrapper">
          <div class="home-project">
            <h3>{{currentProject.title}}</h3>
            <p>{{currentProject.excerpt}}</p>
            <p><a href="{{ project.url | url }}" class="read-more">Read more</a></p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

   <section class="home-about home-cta narrow">
    <div class="left">
      <h2>{{home.aboutTitle}}</h2>
      <p>{{home.aboutDescription}}</p>
    </div>
    <div class="right">
      <img src={{home.aboutImage.url}} alt={{home.aboutImage.alt}} />
    </div>
  </section>

  <section class="home-services narrow">
    <h2>{{home.servicesTitle}}</h2>
    <p class="services-general">{{home.servicesDescription}}</p>
    <div>
      <div>
        <h3>{{home.servicesTitleBlock1Title}}</h3>
        <p>{{home.servicesTitleBlock1Descr}}</p>
      </div>
      <div>
        <h3>{{home.servicesTitleBlock2Title}}</h3>
        <p>{{home.servicesTitleBlock2Descr}}</p>
      </div>
      <div>
        <h3>{{home.servicesTitleBlock3Title}}</h3>
        <p>{{home.servicesTitleBlock3Descr}}</p>
      </div>
    </div>
    <p class="services-cta"><a href="/services">Learn more about our services</a></p>
  </section>

  <section class="journal wide">
    <h2 class="narrow">{{home.journalTitle}}</h2>
    <ul class="journal-overview wide">
        {% set postslist = collections.myPosts %}
        {% for post in postslist | reverse %}
        {% set currentPost = post.data.post %}
        <li class="journal-entry">
            <span>{{currentPost.title}}</span>
            <span class="tags">
                {% for cat in currentPost.categories %}
                    <span class="tag">{{cat}}</span>
                {% endfor %}
            </span>
            <span class="read-more"><a href="{{ post.url | url }}" class="read-more">Read more</a></span>
        </li>
        {% endfor %}
    </ul>
</section>
</div>
