---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<div class="home">
  <section class="intro narrow">
    <h1>{{home.headerTitle}}</h1>
    <p class="large-text">
      {{home.headerDescription}}
    </p>
  </section>

  <section class="cta-block xnarrow">
    <div class="left">
      <h2>Learn more about us</h2>
      <ul>
        <li><a href="/services">Our services</a></li>
        <li><a href="/projects">Past projects</a></li>
        <li><a href="/about">What we do</a></li>
      </ul>
    </div>
    <div class="right">
      <div class="wrapper">
        <img src={{home.headerImage.url}} alt={{home.headerImage.alt}} />
      </div>
      {% if home.headerImage.caption %}
        <figcaption>{{home.headerImage.caption}}</figcaption>
      {% endif %}
    </div>
  </section>
  
  <section class="projects">
    <div class="wide">
      <h2 class="narrow">{{home.projectsTitle}}</h2>
      {% set projectlist = collections.projects | getSelectedProjects %}
      {% include "components/projectList.njk" %}
    </div>
  </section>

  <section class="cta-block narrow">
    <div class="left">
      <h2>{{home.aboutTitle}}</h2>
      <p>{{home.aboutDescription}}</p>
    </div>
    <div class="right">
      <div class="wrapper">
        <img src={{home.aboutImage.url}} alt={{home.aboutImage.alt}} />
      </div>
      {% if home.aboutImage.caption %}
        <figcaption>{{home.aboutImage.caption}}</figcaption>
      {% endif %}
    </div>
  </section>

  <section class="services narrow">
    <h2>{{home.servicesTitle}}</h2>
    <p class="large-text">{{home.servicesDescription}}</p>
    <div class="services-detail">
      <div>
        <h3>{{home.servicesTitleBlock1Title}}</h3>
        <p>{{home.servicesTitleBlock1Descr}}</p>
      </div>
      <div>
        <h3>{{home.servicesTitleBlock2Title}}</h3>
        <p>{{home.servicesTitleBlock2Descr}}</p>
      </div>
      <div>
        <h3>{{home.servicesTitleBlock3Title}}</h3>
        <p>{{home.servicesTitleBlock3Descr}}</p>
      </div>
    </div>
    <p class="read-more"><a href="/services">Read more about our services</a></p>
  </section>

  <section class="journal">
    <div class="narrow">
      <h2>{{home.journalTitle}}</h2>
      {% set postslist = collections.myPosts.slice(0,home.journalLimit) %}
      {% include "components/postArray.njk" %}
    </div>
  </section>
</div>