---
layout: layouts/project
tags:
  - projects
pagination:
  alias: project
  data: projects
  size: 1
  addAllPagesToCollections: true
permalink: projects/{{ project.slug.current | slug }}/index.html
---


