---
layout: layouts/home.njk
navtitle: Projects
permalink: /projects/
---

<div class="projects-page">
  <div class="narrow">
    <h2>Projects</h2>
    <p class="large-text">Information about our projects, placeholder text for now. We support authors, researchers, academics, policy-makers, and communication & knowledge managers inside organisations and across sectors. </p>
  </div>

  <div class="wide">
    {% set projectlist = collections.projects %}
    {% include "components/projectList.njk" %}
  </div>
</p>