---
layout: layouts/home.njk
navtitle: Projects
permalink: /projects/
---

<section class="home-projects wide">
    <div class="home-projects-overview wide">
      {% set projectlist = collections.projects %}
      {% for project in projectlist | reverse %}
        {% set currentProject = project.data.project %}
        <div class="home-project-wrapper">
          <div class="home-project">
            <h3>{{currentProject.title}}</h3>
            <p>{{currentProject.excerpt}}</p>
            <p><a href="{{ project.url | url }}" class="read-more">Read more</a></p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>